# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# testing
coverage

# next.js
.next/
out/
dist/
build/

# production
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env
.env*.local
.env.production

# vercel
.vercel
.vercel.json

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
.supabase
supabase/.temp

# editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
